<!DOCTYPE html>
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/bubble.css" rel="stylesheet">
      
</head>
<body>
  
  <div class="container">      
    <div id="playboard">   
        <div id="result-board"></div>     
        <div class="btn btn-large" id="spin"></div>
        <span id="arrow"></span>
        <canvas id="wheel" width="1000" height="1000"></canvas>  
        <span id="score"></span>
        <div id="mc" class="invisible"></div>
        
        <div id="result-fail">
          <blockquote class="oval-quotes invisible">
            <p>Sorry. You didn't win this time. But try again and good luck next time.</p>
          </blockquote>
        </div>  
    </div>
    <div class="preloader">
      <img src="assets/img/wheel.png" />
    </div>    
  </div>
  
  <div id="reward-stock-cp"></div>
    
  <script type="text/javascript" data-main="scripts/main" src="scripts/require.js"></script>
  
  <script type="text/template">
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>            
    </tr>
  </script>

  <script type="text/template" id="tpl-result-board">
    <img alt="<% broc.des %>" src="<% broc.src %>" />
    <p>
      Congratulation, you won 1 <% item %>
    </p>
  </script>

  

</body>
</html>