<!DOCTYPE html>
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/bubble.css" rel="stylesheet">
      
</head>
<body>
  
  <div class="container">      
    <div id="playboard">   
        <div id="result-board"></div>     
        <div class="btn btn-large" id="spin"></div>
        <span id="arrow"></span>
        <canvas id="wheel" width="1000" height="1000"></canvas>  
        <span id="score"></span>
        <div id="mc" style="display: none">
          <button class="close-board btn btn-primary btn-large pull-right"><i class="icon-remove"></i>&nbsp;Close</button>
          <div class="content">
          </div>          
        </div>
        
        <div id="result-fail">
          <blockquote class="oval-quotes invisible">
            <p>Sorry. You didn't win this time. But try again and good luck next time.</p>
          </blockquote>
        </div>  
    </div>
    <div class="preloader">
      <img src="assets/img/wheel.png" />
    </div>    
  </div>
  
  <div class="modal hide fade" id="result-fail" role="dialog">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
    </div>
    <div class="modal-body">
    <p>
      <img src="assets/img/sad-face.png" alt="Good luck" />
    </p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn">Close</a>    
    </div>
  </div>
    
  
  <div id="reward-stock-cp"></div>
    
  
  <script type="text/template" id="tpl-result-board">    
    <img alt="<%= item %>" src="assets/img/brochure/<%= src %>" />
    
    <div class="alert">
      <h2>Congratulation, you won 1 <%= item %></h3>
    </div>
  </script>

  <script type="text/javascript" data-main="scripts/main" src="scripts/require.js"></script>
</body>
</html>