@board-width: 1000px;
@board-height: 1000px;

@spin-width: 268px;
@spin-height: 268px;

@arrow-width: 65px;
@arrow-height: 90px;

.abs-elem(@t:0, @l:0, @w:0, @h:0) {
  position: absolute;
  top: @t;
  left: @l;
  width: @w;
  height: @h;
}

body {
    padding-top: 40px;
}


#wheel {
    background: url("../img/wheel.png") no-repeat;
    width: 854px;
    height: 854px;
    /*
    -webkit-transition: all 2s ease-in-out; 
    -moz-transition: all 2s ease-in-out; 
    -o-transition: all 2s ease-in-out; 
    -ms-transition: all 2s ease-in-out; 
    transition: all 2s ease-in-out;*/

}
/*
a.brand {
    text-indent: -9999px;
    display: block;
    background: url("assets/img/logo.png") top left no-repeat;
    width: 1024px;
    height: 512px;
}
*/

#playboard {
  position: absolute;
  width: @board-width;   
  
  #wheel {
    width: @board-width;
    height: @board-height;
  }

  #spin {
    position: absolute;
    width: @spin-width;
    height: @spin-height;
    top: @board-height /2 - @spin-height/2;    
    left: @board-width /2 - @spin-width/2;
    background: url("../img/spin.png") top left no-repeat;
    text-indent: -9999px;
    border: 0 none;
    box-shadow: none;

    -webkit-transition: all 2s ease-in-out; 
    -moz-transition: all 2s ease-in-out; 
    -o-transition: all 2s ease-in-out; 
    -ms-transition: all 2s ease-in-out; 
    transition: all 2s ease-in-out;
     z-index: 20;
  }

  #arrow {
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out;
    z-index: 2;
  }

  #spin:hover + #arrow {
    /*background-image: url("../img/spin.png"), linear-gradient(to bottom right,rgb(255,0,0),rgb(100,0,0) 50%,rgb(50,0,0) 75%,rgb(150,0,0));
    */
    transform: rotate(5deg);          
  }

  #mc {
    background: #020031; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
    background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
       -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

    color: #FFFFFF;
    padding: 40px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);

    height: 1500px;
    left: 0;
    /*opacity: 0.8;*/
    position: absolute;
    top: 0;
    width: 980px;
    z-index: 9999;

    button {
      margin: 10px;
      z-index: 2;
    }

    .content {
      text-align: center;
      margin: 0 auto;
    }
  }

  #arrow {
    background: url(../img/arrow.png);    
    .abs-elem(325px, @board-width/2 - @arrow-width/2, @arrow-width, @arrow-height);
  }

}

.preloader {
  display:none;
  background:url("../img/gift/1.png");
  background:url("../img/gift/2.png");
  background:url("../img/gift/3.png");
  background:url("../img/gift/4.png");
  background:url("../img/gift/5.png");
  background:url("../img/gift/6.png");
  background:url("../img/gift/7.png");
  background:url("../img/gift/8.png");
  background:url("../img/gift/9.png");
  background:url("../img/gift/10.png");
  background:url("../img/gift/11.png");  
  background:url("../img/gift/12.png");
  background:none;
}

